//git.energytech-global.com/api/v4/projects/102/packages/npm/:_authToken=glpat-Rx4Dd3-1XzR_zBKxzXi-
//git.energytech-global.com/api/v4/packages/npm/:_authToken=glpat-Rx4Dd3-1XzR_zBKxzXi-
@tec-registry:registry=https://git.energytech-global.com/api/v4/projects/102/packages/npm/
