.calendar {
  padding: 1rem;
}
.all {
  max-height: 278px;
  max-width: 273px;
}
.calendar > * {
  line-height: 35px;
}
header {
  display: flex;
  justify-content: space-between;
  color: #666;
  font-weight: bold;
  font-size: 1.1rem;
}
.calendar span {
  flex-grow: 30;
  width: calc(100% / 7);
  text-align: center;
}
.calendar header span:first-child,
.calendar header span:last-child {
  flex-grow: 0.1;
  cursor: pointer;
}
.day-names {
  display: flex;
}
.days-in-month {
  display: flex;
  flex-wrap: wrap;
}
.days-in-month span {
  cursor: pointer;
  position: relative;
}
.days-in-month i {
  padding: 8px;
  font-style: normal;
  position: relative;
  width: 100%;
}
.days-in-month i.padding-single-digit {
  padding:8px 12px;
}
.days-in-month span.disabled {
  color: #ccc;
  cursor: default;
}
/** Material style **/
.material .days-in-month span:hover:not(.disabled) i:not(.selected) {
  background: #e6d2f1;
  border-radius: 50%;
}
.material .days-in-month i.active {
  background: #007AFF;
  border-radius: 50%;
  // padding: 0.6rem;
}
.material .days-in-month i.selected {
  background: #007AFF;
  color: #fff;
  border-radius: 50%;
}
.material .days-in-month i.has-event:before {
  content: ' \25CF';
  font-size: 0.7rem;
  position: absolute;
  top: 0.4rem;
  left: 1.18rem;
  color: #007AFF;
}
.material .days-in-month i.selected.has-event:before {
  color: #fff;
}
.material .days-in-month i.active.has-event:before {
  top: 0.1rem;
  left: 1.1rem;
}
.calender-container {
  width: 287px;
  height: 300px;
}
.disable-days {
  opacity: 0.3;
}
nest-notification-modal-dialog {
  &::part(notification-modal-dialog-container-) {
    height: 325px;
    max-height: unset;
  }
}
.arrows {
  padding-right: 26px;
}
header{
  padding-bottom: 12px;
}
