@import '@tec-registry/daisy/src/index';
.calendar {
  padding: 1rem;
}
.calendar > * {
  line-height: 4.5rem;
}
header {
  display: flex;
  justify-content: space-between;
  color: #666;
  font-weight: bold;
  font-size: 1.1rem;
}
